:root{
  --bg: #EEE;
  --text: #333;
  --red: rgb(255, 148, 148);
  --green: rgb(148, 255, 148);
  --blue: rgb(148, 237, 255);
  --yellow: rgb(255, 255, 148);
  --purple: rgb(167, 154, 225);
  --orange: rgb(255, 148, 148);
  --pink: rgb(255, 148, 255);
  --brown: rgb(216, 186, 137);
  --gray: rgb(148, 148, 148);
  --field: rgb(148, 237, 255);
}
[data-theme^="dark"] {
  --bg: #333;
  --text: #EEE;
}
[data-theme^="light"] {
  --bg: #EEE;
  --text: #333;
}
[data-theme$="red"]{--field:    var(--red)}
[data-theme$="green"]{--field:  var(--green)}
[data-theme$="blue"]{--field:   var(--blue)}
[data-theme$="yellow"] {--field:var(--yellow)}
[data-theme$="purple"]{--field: var(--purple)}
[data-theme$="orange"]{--field: var(--orange)}
[data-theme$="pink"]{--field:   var(--pink)}
[data-theme$="brown"]{--field:  var(--brown)}
[data-theme$="gray"]{--field:   var(--gray)}
.hidden {
  display: none;
}
body {
  font-family: Poppins, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100dvh;
}
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin-top: 20px;
  background-color: var(--field);
}
.sector{
  flex: 0 0 calc((100% / 3));
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 1px solid hsl(0, 0%, 74%);
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.sector.flagged{background-color: #2c2c2c6b;}

.sector:hover {
  background-color: #e5e5e56b;
}