:root{
  --white: #EEE;
  --black: #333;
  --gray:  #adadad;

  --red:    #ff9494;
  --green:  #94ff94;
  --blue:   #94edff;
  --yellow: #ffe9a2;
  --pink:   #ff94ff;

  --field: var(--blue);
}
@media(prefers-color-scheme:light){:root{--bg:var(--white);--text:var(--black)}}
@media(prefers-color-scheme:dark){:root{--bg:var(--black);--text:var(--white)}}
[data-theme^="light"] {
  --bg: var(--white);
  --text: var(--black);
}
[data-theme^="dark"] {
  --bg: var(--black);
  --text: var(--white);
}
[data-theme$="red"]{--field:    var(--red)}
[data-theme$="green"]{--field:  var(--green)}
[data-theme$="blue"]{--field:   var(--blue)}
[data-theme$="yellow"]{--field: var(--yellow)}
[data-theme$="pink"]{--field:   var(--pink)}
body {
  font-family: Poppins, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100dvh;
  user-select: none;
  transition: background-color .7s ease-out, color .7s ease-in-out;
}
button{all: unset;cursor: pointer;}
header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 130px;
  height: 30px;
  margin-top: 7px;
  padding: 3px 14px;
  color: var(--text);
  font-size: 1.2rem;
  & .time::before{content: '|';color: var(--gray);}
  & .flags.hidden + .time::before{display: none;}
  &>*{line-height: 30px; text-align: center;}
}
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin-top: 20px;
  background-color: var(--field);
  & :nth-child(even) {
    filter: brightness(1.1);
  }
}
.hidden {display: none !important}
.sector{
  flex: 0 0 calc((100% / 3));
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: var(--field);
  display: flex;
  align-items: center;
  justify-content: center;
  &>svg{width: 32px; &>g{fill: var(--black);}}
}
.sector.flagged{background-color: #2c2c2c6b;}
.sector.reve  aled {
  background-color: transparent;
  border: none;
  cursor: default;
}
.sector:not(.revealed):hover{opacity: .5;}
#changeTheme{
  color: var(--field);
  background-color: var(--text);
}
#themeSelector{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
}
#themeSelector > li{
  flex: 0 0 calc((100% / 5));

  all: unset;
  list-style: none;
  margin-inline: 2px;
  margin-block: 7px;
  & button {
    position: relative;
    width: 56px;
    height: 56px;
    padding: 7px;
    cursor: pointer;
    border-radius: 50%;
    transition: all .5s ease-in-out;
    background: linear-gradient(to right, var(--bg) 50%, var(--field) 50%);
    border: 10px solid var(--field);
    &.active {
      transform: rotate(270deg);
      cursor: default;
      &:after{
        transition: opacity 1.5s ease-in;
        opacity: 1;
      }
    }
    &:after{
      position: absolute;
      top: 0;
      right: calc(100% + 14px);
      opacity: 0;
      color: var(--text);
      font-size: 24px;
      content: '🢒';
    }
  }
}